.show {
  opacity: 0;
}

.hide {
  opacity: 1;
}

.App {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App > canvas {
  border: 1px solid black;
}

.Add {
  position: fixed;
  top: 1rem;
  left: 1rem;
}

.Add > button {
  width: 3rem;
  height: 3rem;
  border: none;
  cursor: pointer;
  background: linear-gradient(135deg, rgb(85, 215, 255), rgb(255, 85, 85));
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.Add > form {
  margin-top: 0.5rem;
  transition: opacity 300ms ease-in-out;
}

.Add > form > input {
  padding: 0.75rem;
  font-size: 1.25rem;
}
